.logout-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logout-card {
  width: 300px;
  height: 300px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.logout-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logout-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bold-text {
  font-weight: bold;
}
